version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__SqlServerConnection=Server=db;Database=KatanaLucaIntegration;User Id=sa;Password=Admin00!S;TrustServerCertificate=true;
    depends_on:
      - db
    networks:
      - katana-network
    volumes:
      - ./logs:/app/logs

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Admin00!S

    ports:
      - "1433:1433"
    networks:
      - katana-network
    volumes:
      - sqlserver-data:/var/opt/mssql

networks:
  katana-network:
    driver: bridge

volumes:
  sqlserver-data:
    driver: local
